<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434291875257-8849gncmma4uucn01illsirp645f7h6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434291875257-8849gncmma4uucn01illsirp645f7h6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAMqA9Kh1M57yTKxQPGvpvfEZoca8RPKkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>434291875257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razeware.Planet-Tour</string>
	<key>PROJECT_ID</key>
	<string>planet-tour-7abca</string>
	<key>STORAGE_BUCKET</key>
	<string>planet-tour-7abca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434291875257:ios:6814927c1585534e</string>
	<key>DATABASE_URL</key>
	<string>https://planet-tour-7abca.firebaseio.com</string>
</dict>
</plist>